# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Go build directory
bin/

# Dependency directories (remove the comment below to include it)
# vendor/

# JetBrains IDEs
.idea/
*.iml

# VSCode
.vscode/

# Mac OS X
.DS_Store

# Draw.io backup files
.*.*.bkp

# Temporary files
*.tmp
*.temp
*.swp
*~

# Logs
*.log

# Others
*.csv
*.dat
*.pid
*.seed

# ignore yaml files under /pkg/config
/pkg/config/*.yaml
*.yaml
*.yml



